*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(255,255,255,0.5) 0%, rgba(33,16,16,.8) 100%), url('construccion.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    
  
}




.construccion{
    position: static;
    
}




.contenedor{
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    align-items: center;

}

.contenedor h1{
    color: #c2db2f;
    margin: 20px 0;
    font-size: 100px;
}

.btn-volver{
    padding: 10px 50px;
    border: 1px solid #c2db2f;
    border-radius: 20px;
    margin-top: 40px;
    text-decoration: none;
    color: #c2db2f;
    font-size: 20px;
}

.btn-volver:hover{
    background-color: #c2db2f;
    color: #fff;

}